/* #myCanvas {
            background: #eee;
            display: block;
            margin: 0px auto;
            border: 1px solid lightcoral;
            background-size: contain;
            background-repeat: no-repeat;
            background: url(https://im5.ezgif.com/tmp/ezgif-5-b997aed1d539.gif)
} */